.sign-up {
  padding: 20px;
  width: 400px;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;

  h2 {
    color: lightgrey;
  }
  span {
    color: lightgrey;
    font-weight: bold;
  }
}
