.sign-in {
  padding: 20px;
  width: 400px;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  span {
    color: grey;
    font-weight: bold;
  }

  .signin-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
