.nav-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-container {
    height: 100%;
    width: 50px;
  }

  .options {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 20px;

    .option,
    .cart {
      padding: 8px 15px;
      text-decoration: none;
    }

    .option:hover {
      text-decoration: none;
      color: white;
      background-color: navy;
      border-radius: 10px;
    }
  }
}
