.checkout-page {
  padding: 50px;
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  font-size: 16px;

  .card-message {
    color: whitesmoke;
    text-align: center;
  }

  .checkout-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    color: whitesmoke;

    .header-block {
      text-transform: uppercase;
      // border: 1px solid black;
      width: 20%;
      text-align: center;
    }
  }

  .checkout-list {
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }

  .checkout-total {
    margin-left: auto;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 20px;
    color: whitesmoke;
  }
}
