.checkout-page {
  padding: 50px;
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  font-size: 16px;

  .stripe-checkout {
    // 100% of its parent (.checkout-page)
    width: 100%;
  }

  .button-signin {
    background-color: blueviolet;
    padding: 8px 0;
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    font-family: "Times New Roman", Times, serif !important;
    font-size: 18px;
    font-variant: small-caps;
    letter-spacing: 1px;
    font-weight: 400px;
  }

  .button-signin:hover {
    background-color: whitesmoke;
    color: blueviolet;
  }
  .card-message {
    color: whitesmoke;
    text-align: center;
  }

  .checkout-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    color: whitesmoke;

    .header-block {
      text-transform: uppercase;
      // border: 1px solid black;
      width: 20%;
      text-align: center;
    }
  }

  .checkout-list {
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }

  .checkout-total {
    margin-left: auto;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 20px;
    color: whitesmoke;
  }
}
